SrividhyaSwaminathan_Assign3Part1/TryIt/TryIt/Connected Services/locationBasedServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51214/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51214/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51214/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_weatherService_InputMessage">
    <wsdl:part name="parameters" element="tns:weatherService" />
  </wsdl:message>
  <wsdl:message name="IService1_weatherService_OutputMessage">
    <wsdl:part name="parameters" element="tns:weatherServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_airQuality_InputMessage">
    <wsdl:part name="parameters" element="tns:airQuality" />
  </wsdl:message>
  <wsdl:message name="IService1_airQuality_OutputMessage">
    <wsdl:part name="parameters" element="tns:airQualityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLatLng_InputMessage">
    <wsdl:part name="parameters" element="tns:getLatLng" />
  </wsdl:message>
  <wsdl:message name="IService1_getLatLng_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLatLngResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="weatherService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/weatherService" message="tns:IService1_weatherService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/weatherServiceResponse" message="tns:IService1_weatherService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="airQuality">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/airQuality" message="tns:IService1_airQuality_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/airQualityResponse" message="tns:IService1_airQuality_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLatLng">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLatLng" message="tns:IService1_getLatLng_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLatLngResponse" message="tns:IService1_getLatLng_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="weatherService">
      <soap:operation soapAction="http://tempuri.org/IService1/weatherService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="airQuality">
      <soap:operation soapAction="http://tempuri.org/IService1/airQuality" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLatLng">
      <soap:operation soapAction="http://tempuri.org/IService1/getLatLng" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51214/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>