SrividhyaSwaminathan_Assign3Part2/TryIt/TryIt/Connected Services/electiveLocationBasedServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar61.fulton.asu.edu/Page2/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar61.fulton.asu.edu/Page2/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar61.fulton.asu.edu/Page2/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_WindIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:WindIntensity" />
  </wsdl:message>
  <wsdl:message name="IService1_WindIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:WindIntensityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SolarIntensity_InputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensity" />
  </wsdl:message>
  <wsdl:message name="IService1_SolarIntensity_OutputMessage">
    <wsdl:part name="parameters" element="tns:SolarIntensityResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_nearestAirport_InputMessage">
    <wsdl:part name="parameters" element="tns:nearestAirport" />
  </wsdl:message>
  <wsdl:message name="IService1_nearestAirport_OutputMessage">
    <wsdl:part name="parameters" element="tns:nearestAirportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_location2zip_InputMessage">
    <wsdl:part name="parameters" element="tns:location2zip" />
  </wsdl:message>
  <wsdl:message name="IService1_location2zip_OutputMessage">
    <wsdl:part name="parameters" element="tns:location2zipResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="WindIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/WindIntensity" message="tns:IService1_WindIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/WindIntensityResponse" message="tns:IService1_WindIntensity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SolarIntensity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SolarIntensity" message="tns:IService1_SolarIntensity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SolarIntensityResponse" message="tns:IService1_SolarIntensity_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="nearestAirport">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/nearestAirport" message="tns:IService1_nearestAirport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/nearestAirportResponse" message="tns:IService1_nearestAirport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="location2zip">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/location2zip" message="tns:IService1_location2zip_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/location2zipResponse" message="tns:IService1_location2zip_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WindIntensity">
      <soap:operation soapAction="http://tempuri.org/IService1/WindIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SolarIntensity">
      <soap:operation soapAction="http://tempuri.org/IService1/SolarIntensity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="nearestAirport">
      <soap:operation soapAction="http://tempuri.org/IService1/nearestAirport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="location2zip">
      <soap:operation soapAction="http://tempuri.org/IService1/location2zip" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar61.fulton.asu.edu/Page2/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>